# Node modules
/node_modules/

# Build output
/dist/
/build/
/*.tsbuildinfo

# Logs
yarn-error.log
npm-debug.log
pnpm-debug.log

# Env files
.env
.env.*   # for things like .env.stage, .env.production

# Editor config
.vscode/
.idea/

# PM2 logs (optional, if stored locally)
/logs/
pids
*.log

# OS junk
.DS_Store
Thumbs.db
